<div class="home-container">
    <h1 class="home-title">Welcome to Our Blog</h1>
    <div class="blog-grid">
        <mat-card *ngFor="let blog of blogs" class="blog-card">
            <mat-card-header class="blog-card-header">
                <mat-card-title class="blog-title">{{ blog.title }}</mat-card-title>
                <mat-card-subtitle class="blog-subtitle">By: {{ blog.user }} | {{ blog.date }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="blog-content">{{ blog.content }}</p>
                <div class="tags">
                    <mat-chip-listbox>
                        <mat-chip-option *ngFor="let tag of blog.tags" class="tag-chip">
                            {{ tag }}
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>